ul
  padding 0
  margin 0
  list-style none
  li
    position relative
    margin-top 12px
    min-height 36px
    .li-number-sigle
      width 35px
      height 18.5px
      float left
      position relative
      .number-bg  
        width 34.5px
        height 7px
        background-color #ff4b30
        position absolute
        bottom 0
        left 0
        transition background 0.15s linear
      .number-line
        background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/single_bg.png') no-repeat
        width 21.5px
        height 9.5px
        top 5px
        right 0
        position absolute
      .number
        width 18px
        height 27px
        background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-0.png') center bottom np-repeat
        background-repeat no-repeat
        position absolute
        top 0
        left 4px
        & + .number
          left 13px
        &.l0
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-0.png')
        &.l1
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-1.png')
        &.l2
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-2.png')
        &.l3
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-3.png')
        &.l4
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-4.png')
        &.l5
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-5.png')
        &.l6
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-6.png')
        &.l7
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-7.png')
        &.l8
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-8.png')
        &.l9
          background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/1-9.png')
    .li-text
      width 220px
      font-size 15px  
      color #000
      margin-left 44px