.save-canvas
  top 0
  width 375px
  background-color #ff4b30
  position absolute
  .save-image
    width 100%
    position absolute
    left 0
    top 0
  .end-save
    position absolute
    top 0
    width 375px
  .end-main
    position absolute
    top 32px
    left 33.5px
    width 313px
    height 603px
    .end-bg 
      width 313px
      height 100%
      position absolute
      top 0
      background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/end/bg.png') top no-repeat
      background-size 313px 25px
      overflow hidden
      .bottom-white
        width 100%
        height 100%
        position absolute
        top 24px
        background-color #ffffff
    .top-title
      width 211px
      height 91px
      background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/top_title1.png') no-repeat
      background-size 211px 91px
      position absolute
      top 25px
      left 48.5px
    .img-box
      width 100%
      height 110px
      position absolute
      top 122px
      text-align center
      .img 
        width 100%
        height 100%
        // background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/img1.png') center center no-repeat
        background-size 112px 72.5px
        position absolute
        top 0
      img 
        width 112px
        height 72.5px
        object-fit contain
      
    .text-box
      width 270px
      background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/end/top_line.png') 9px 0 no-repeat, url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/end/bottom_line.png') 13.5px bottom no-repeat
      background-size 250px 5px
      position absolute
      top 230px
      left 19px
      overflow hidden
      padding 13px 0  
      min-height 156px
      ul
        margin 0
        padding 0
        position relative
        list-style none
        
    .end-bottom
      width 100%
      height 125px
      position absolute
      bottom 0
      .sign-name
        font-size 30px
        position absolute
        top 20px
        left 16px
        font-family hanyi 
      .sign-time-box
        position absolute
        top 60px
        left 19px
        font-size 13px
        .sign-time
          float left
        .flag
          float left
          margin-left 5px
          margin-top 0.5px
          width 12px
          height 12px
          background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/end/flag.png') center no-repeat
          background-size 12px 12px
      .qrcode-scan
        position absolute
        width 84.5px
        height 87px
        top 22px
        right 20px
        img 
          width 100%
          height 100%