.loading
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  background #ececec
  z-index 10000

  .logo
    width 9.725rem
    height 1.65rem
    position absolute
    top 1.25rem
    left 4.375rem
    background url('../../assets/img/loading/logo.png') no-repeat
  
  .loading-main
    position absolute
    left 0
    top 50%
    margin-top: -3.6rem
    width 100%
    height 3.6rem
    .percent
      .percent-bg
        width 1.85rem
        height 1.15rem
        position absolute
        left 9.15rem
        top 0.65rem
        background url('../../assets/img/loading/loading.png') -0.25rem -3.175rem no-repeat
      .percent-ten
        position absolute
        width 1.025rem
        height 1.25rem
        left 8.1rem
        top 0.6rem
      .percent-single
        position absolute
        width 1.025rem
        height 1.25rem
        left 9.15rem
        top 0

      .percent-ten > *, .percent-single > *
        width 100%
        height 100%
        background url('../../assets/img/loading/loading.png') no-repeat

      .w0
        background-position -0.25rem -4.85rem
      .w1
        background-position -1.775rem -4.85rem
      .w2
        background-position -7.875rem -4.85rem
      .w3
        background-position -4.85rem -6.575rem
      .w4
        background-position -1.775rem -6.575rem
      .w5
        background-position -0.25rem -6.575rem
      .w6
        background-position -3.3rem -4.85rem
      .w7
        background-position -4.85rem -4.85rem
      .w8
        background-position -127px -4.85rem
      .w9
        background-position -3.3rem -6.575rem

    .loading-line
      width 245px
      position absolute
      top 62px
      border-bottom 1px solid #000000
      left 50%
      margin-left -122.5px
      .left-rect, .right-rect
        width 20.5px
        height 20.5px
        top -10px
        background url('../../assets/img/loading/loading.png') -52px -63.5px no-repeat
        position absolute
      .left-rect
        left -10px

      .right-rect
        right -10px



  .loading-text
    position absolute
    left 4.7rem
    bottom 20%
    width 9.35rem
    height 2.35rem
    background url('../../assets/img/loading/loading.png') -0.25rem -0.25rem no-repeat