.settings
  width 100%
  height 100%
  position absolute
  background #ff3b30
  top 0
  display none
  z-index 0
  transition background 0.16s linear
  overflow hidden
  &.show
    opacity 1
    transition all linear 0.3s
    .top-tips
      width 215px
      height 23px
      background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/top_tips.png') no-repeat
      top 33.5px
      right 33px
      position absolute
      display none
    .step3-tips
      width 185px
      height 21.5px
      background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/step3_tips1.png') no-repeat
      top 33.5px
      right 33px
      position absolute
      display none
    .settings-main
      width 313px
      height 546px
      position absolute
      left 33.5px
      top 75px
      transition all linear 0.3s
      .step3
        opacity 0
        overflow hidden
        background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/bg2.png') no-repeat
        width 100%
        height 100%
        transition all linear 0.4s
        position absolute
        &.show-step3
          opacity 1
        .step3-text
          width 263px
          height 293.5px
          background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/step3_text1.png') no-repeat
          position absolute
          top 41px
          left 22.5px
        .read
          position absolute
          bottom 155px
          &.flash
            animation s 1s ease infinite
          &.check
            .read-circle
              background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/read_click.png')
          .read-circle
            width 14.5px 
            height 14.5px
            background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/read_unclick.png') no-repeat
            position absolute
            left 18px
          .read-text
            width 248.5px
            height 27.5px
            background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/read_text1.png') no-repeat
            position absolute
            left 43px
            top 1px
        
        .name-box
          position absolute
          bottom 64px
          left 18.5px
          width 180px
          height 37.5px
          .name-placeholder
            position absolute
            top 0
            width 180px
            height 37.5px
            background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/name_placeholder1.png') center no-repeat
            .name-left-line
              width 1px
              height 23.5px
              background #a0a0a0
              position absolute
              top 6.5px
              left 7px
              animation s .5s ease infinite
          .name
            outline 0
            border 1px solid #000000
            color #000000
            background 0 0
            padding 8.5px 6.5px
            font-size 14px
            line-height 37.5px
            box-sizing border-box
            width 180px
            height 37.5px
            top 0
            position absolute
          .name-mask
            width 180px
            height 37.5px
            top 0
            position absolute
      
      .confirm
        width 51.5px
        height 24px
        background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/confirm1.png') no-repeat
        position absolute
        bottom 34px
        right 9px

      .step-2
        background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/bg1.png') no-repeat
        width 100%
        height 100%
        top 0
        transition all linear 0.3s
        position absolute
        &.go-down
          transform translate3d(0, 150px, 0)
          &.fade
            opacity 0
            transform translate3d(0, 300px, 0)

        .top-title
          width 211px
          height 91px
          background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/top_title1.png') no-repeat
          position absolute
          top 40px
          left 48.5px
        .img-box
          width 100%
          height 97px
          position absolute
          top 142px
          .img-bg
            width 100% 
            height 100%
            background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/img_bg.png') center center no-repeat
            position absolute
            top 0
          .img
            width 100%
            height 100%
            background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/img1.png') center center no-repeat
            position absolute
            top 0
          
        .text-box
          width 264px
          height 253.5px
          background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/end/top_line.png') 13.5px bottom no-repeat
          position absolute
          top 235px
          left 19px
          overflow hidden
          padding 13px 0 
          box-sizing border-box
          min-height 156px
          .text-scroll-box
            width 100%
            height 100%
            overflow-y scroll
            padding-bottom 5px
            box-sizing border-box
          
    .bottom-settings
      width 100%
      height 206px
      background-color #ececec
      position absolute
      left 0
      bottom 0
      transition all linear 0.5s
      .choose-main
        width 100%
        height 119px
        position absolute
        top 39px
        .image-box
          display none
          width 100%
          height 100%
          position absolute
          top 0
          background #ececec
          overflow-x scroll
          .image-list
            width 1500px
            height 100%
            list-style none
            padding 0
            margin 0
            li
              float left
              width 150px
              height 100%
              background-position center
              background-repeat no-repeat
        .colors-box
          width 100%
          height 100%
          position absolute
          top 0
          .colors-main
            height 62px
            overflow-x scroll
            ul
              width 469px
              height 62px
              list-style none
              margin 0
              padding 0
              li
                width 37px
                height 37px
                float left
                margin-top 16.5px
                margin-left 20px
                &.chosen
                  background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/choose_circle.png') no-repeat
                  background-position center center

          .colors-split
            width 100%
            height 57px
            position relative
            .outline
              width 327px
              height 35px
              border 0.5px solid #000000
              position absolute
              top 5px
              left 24px
              .splits
                width 312px
                height 22px
                position absolute
                left 7.5px
                top 6.5px
                .split
                  width 39px
                  height 22px
                  float left
                  transition background 0.15s linear
            .ruler
              width 11px
              height 44px
              background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/ruler.png') no-repeat
              left 202.5px
              top 1px
              position absolute
              &.ruler-ani
                opacity 1
                animation ruler 1.5s ease-in-out 4.6 alternate

      .choose-list
        width 100%
        height 39px
        top 0
        position absolute
        border-top 0.5px solid #d8d5d5
        & > div
          width 187.5px
          height 39px
          position absolute
          box-sizing border-box
          top 0
          border-bottom 1px solid #ececec
          transition all linear 0.2s
        .color-choose
          background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/color_choose_text.png') no-repeat
          background-position center
          &.active
            background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/color_choose_text_active.png')
            border-bottom 1px solid #ff4b30
        .image-choose
          background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/img_choose_text.png') no-repeat
          background-position center
          left 187.5px
          &.active
            background-image url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/img_choose_text_active.png')
            border-bottom 1px solid #ff4b30
            
      .return
        width 100px
        height 50px
        background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/return.png') 24px 9px  no-repeat
        position absolute
        left 0
        bottom 0
      .continue
        width 100px
        height 50px
        background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/continue.png') 24px 9px no-repeat
        position absolute
        right 0
        bottom 0
      .go-sign
        width 100px
        height 50px
        background url('http://static.ws.126.net/163/f2e/news/happynewyear2019/img/settings/goto_sign.png') 16px 9px  no-repeat
        position absolute
        right 0
        bottom 0



@keyframes ruler
  0%
    opacity 0
    -webkit-transform translate3d(-70.5px, 0, 0)
  to 
    opacity 1
    -webkit-transform translate3d(px, 0, 0)

@keyframes s
  0%
    opacity 1
  50%
    opacity 0
